spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  redis:
    host: localhost
    port: 6379

logging:
  level:
    com.exchange: DEBUG
    org.springframework.web: DEBUG

aws:
  region: us-east-1
  s3:
    bucket-name: exchange-service-files-dev
